beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==2.1.1
Deprecated==1.2.13
idna==3.4
PyGithub==1.51
PyJWT==2.6.0
pytz==2020.1
requests==2.31.0
selenium==3.141.0
soupsieve==2.3.2.post1
urllib3==1.26.12
wrapt==1.14.1
